linkedin post automation.json
{
  "name": "linkedin post automation",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "hey act as a linkedin post manager and you know very well about that what kind of posts and in what manner we should upload the post to reach all faster, so make a linkdein post on the topic specified by the user and in a decent manner and include the strong points and the post should be small and simple, the opening line should look like interesting, the post should get a high click rate and the main thind is remove all unnecessary information in that like \"Okay, as your LinkedIn Post Manager, I've crafted a post that aims to be uniquely thought-provoking, a bit unsettling, and highly engaging. This angle focuses on a more insidious, pervasive \"weird and scary\" future of robotics, moving beyond common tropes\"and the post should be very clean and neat and look like ready to post directly"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -656,
        -16
      ],
      "id": "75797cd5-8fe4-4ef7-8a8e-009f5a40a949",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        144
      ],
      "id": "2d3d860d-45db-48ff-bc1a-390099ef81c2",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "C0Tw1cLVqULfSule",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -576,
        144
      ],
      "id": "9e7ed1b8-3deb-4d70-a4cf-1778e32b9a8f",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -816,
        -16
      ],
      "id": "889857fa-4e4d-48a4-8e1b-10eb4c6c1244",
      "name": "When chat message received",
      "webhookId": "39f5bca0-0002-4f9c-a174-e41ff37cea46"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "bhanuautomations@gmail.com",
        "subject": "Approval Required",
        "message": "={{ $json.output }}",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {
              "fieldLabel": "IS IT OK?",
              "placeholder": "YES / NO"
            },
            {
              "fieldLabel": "IF NO, SPECIFY WHAT WE SHOULD CHANGE",
              "placeholder": "SPECIFY HERE"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -368,
        -16
      ],
      "id": "ae081322-f336-48cf-aa14-07ba10acddf8",
      "name": "Send message and wait for response",
      "webhookId": "227b4c87-32b5-499a-aeba-6fa31c0d3e2c",
      "credentials": {
        "gmailOAuth2": {
          "id": "07I6idxWwYKhX6Fn",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -80,
        208
      ],
      "id": "3ec595ec-967e-4430-9f96-de8f7e4f3517",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "C0Tw1cLVqULfSule",
          "name": "Google Gemini(PaLM) Api account 3"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data['IF NO, SPECIFY WHAT WE SHOULD CHANGE'] }}",
        "options": {
          "systemMessage": "You are a helpful assistant in doing what exactly user says"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -16,
        32
      ],
      "id": "07ba41de-cdce-4c9a-a4f7-6a10683a5c9f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "19b63a5f-f858-4567-85dd-bc25af34f5c2",
              "leftValue": "={{ $json.data['IS IT OK?'] }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "ea606bfd-83b6-43c3-891d-269b85daa6d5",
              "leftValue": "={{ $json.data['IS IT OK?'] }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        -16
      ],
      "id": "f8db0c4d-290e-4298-8cc6-bac070c39a9c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        208
      ],
      "id": "89b82114-55d2-4e72-b865-e06302a150a4",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        256,
        -32
      ],
      "id": "67b95c68-0dd0-4e8c-b800-f43bdd4af3d3",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "Ylm3LwbE4j84O57p",
          "name": "LinkedIn account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d8c9592-c6a8-4d01-bf85-adbf15866f54",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fb4da1fc73d58c02ef083eafbb11bcb5693435510eab92ffe09250c638ead8ca"
  },
  "id": "JTlL0JaLc7H0N35G",
  "tags": []
}